:root {
 /* Cores */
  --menu-bg: rgba(14, 14, 14, 1);
  --menu-border: rgba(255, 255, 255, 0.10);
  --text-primary: rgba(255, 255, 255, 1);
  --text-secondary: rgba(196, 199, 200, 1);
  --hover-bg: rgba(255, 255, 255, 0.05);
  --active-bg: rgba(255, 255, 255, 0.10);
  --buttom-bg: rgba(14, 14, 14, 0.85);

  /* Fontes */
  --font-title: 'Space Grotesk', sans-serif;
  --font-subtitle: 'Space Mono', monospace;
  --font-text: 'Inter', sans-serif;
}

/* =========================================
   RESET GLOBAL E ESTILOS BASE DO BODY
   ========================================= */

*, *::before, *::after {
  box-sizing: border-box; /* Faz o padding e border não aumentarem o tamanho final do elemento */
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  
  /* Evita scroll horizontal indesejado caso algo passe da tela */
  overflow-x: hidden; 

  /* Aplica o tema base definido no :root */
  background-color: var(--menu-bg);
  color: var(--text-primary);
  font-family: var(--font-text);
  
  /* Suaviza o render das fontes */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Remove os estilos padrão de botões e inputs */
button, input, textarea, select {
  font-family: inherit;
  color: inherit;
}

/* Ativa a estilização customizada da barra de rolagem e define sua espessura */
::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
}

::-webkit-scrollbar-track {
  background: var(--menu-bg, rgba(14, 14, 14, 1)); /* Cor do fundo (trilho) */
  border-radius: 0.5rem;
}

/* Define a aparência da parte móvel da barra (thumb) */
::-webkit-scrollbar-thumb {
  background: var(--active-bg);
  border-radius: 0.5rem;
}